body{
  text-align: center;
}
#one{
  background-image: url('01.jpg');
    height:100vh;
  background-size: cover;

  color: white;
}
.mia{
    color: white
     display: flex;
    justify-content: center;
    padding-top: 240px;
}
#mia2{
    padding-top:110px;
}
#uno{
  padding-bottom: 3px;
    color: black
}
#two{
    background-image: url('s_image.jpg');
    height:50vh;
    background-size: cover;
    color: white
}
