#one{
  background-image: url('01.jpg');
  height:100vh;
  background-size: cover;
}
h1{
  text-align: center;
  color: white

}
.mia{
  text-align: center;
display: flex;
justify-content: center;
padding-top: 240px;
}
p{
  text-align: center;
  color: white;
}
#mia2{
text-align: center;
padding-top:110px;
}
