body{
  text-align: center

}
#home{
  background-image: url('01.jpg');
    height:100vh;
    justify-content: center;
  background-size: cover;
  color: white;
  align-items: center;
  padding: 210px;
  

}

.mia{
    color: white;
     display: flex;
    justify-content: center;
    padding-top: 240px;
    margin-top: 30%;
}
#mia2{
    padding-top:110px;
}
#uno{
  padding-bottom: 3px;
    color: black
}
#two{
  font-size: 15px;
  text-align: center;
    background-image: url('s_image.jpg');
    height:50vh;
    background-size: cover;
    color: white
}
.container
{
  position: relative;
  width: 1200px;
  height:120px;
  margin:240 auto;
}
.box
{
  position: relative;
  width: calc(400px - 30px);
  height: calc(400px - 300px);
  float:left;
  margin: 15px;
  box-sizing: border-box;
  border-radius:10px;
}
h2{
  font-size: 20px
}
h3{
  font-size: 20px;
}
h4{
  font-size: 20px;
}
h5{
  font-size: 20px;

}
span h5{
  font-size: 20px;
  margin-top: 15%;
}
h6{
font-size: 20px;
}
#three{
  height:150px;
  max-width:100%;
}
.port , .port1{
  display: flex;
  justify-content: space-around;
}
.port1{
  margin-top: 20px;
}

#four{
    background-image: url('c_image.jpg');
      height:100vh;
    background-size: cover;
    color:white;
}

#six{
  display: flex;
  justify-content: center;
}
#IO P{
  font-size: 15px;
  text-align: center;
}

#IO{
  display: none;
}
#IQ{
  display: none;
}
#IQ p{
  text-align: center;
}
#IP{
  display: none;
}
#IP p{
  text-align: center;
}
#design1{
  justify-content: center;
margin-left: -5vw;
  margin-top:-2%
}
#design2{
  justify-content: center;
 margin-left:0vw;
 margin-top: -2%;

}
#design3{
  justify-content: center;
  margin-left: 10vw;
  margin-top: -2%;
}
.row h4{
  margin-top:2%;
  font-weight: bold;
}
.contacts{
  color: white;
}
.work{
display: flex;
justify-content: center;
position: relative;
}
.description{
  position: absolute;
  text-align: center;
  color: black;
  border: 2px solid white;
  margin-top: 80px;
  height: 80px;
  padding: 30px;
  display: none;
  background-color: white;
  

}
